# Foundry/build artifacts
out/
cache/
.forge/

# Dependencies
lib/
/node_modules

# Environment
.env

# IDE
.vscode/
/.vscode

# Hardhat Build Artifacts
/artifacts
/dist
/bundle

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Documentation
/pdfs
/questions